@charset "UTF-8";

/*--------------------
共通
--------------------*/
html {
 font-size: 1rem;
}

body {
 color: #333;
 font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",
  "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic,
  "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

li {
 list-style: none;
}

a {
 text-decoration: none;
 color: #333;
}

a:hover {
 opacity: 0.5;
 transition: all 0.5s;
}

img {
 max-width: 100%;
}

h1, h2, h3 {
 font-weight: normal;
}

.wrapper {
 padding: 0 60px;
 text-align: center;
 margin: 0 auto;
}

.sec-title {
 font-size: 2rem;
 font-weight: bold;
 margin-bottom: 80px;
 text-align: center;
}

span.smoothText {
	overflow: hidden;
	display: block;
}

/* アニメーションで傾斜がついている文字列を水平に戻す*/
span.smoothTextTrigger{
	transition: .8s ease-in-out;
	transform: translate3d(0,100%,0) skewY(12deg);
	transform-origin: left;
	display: block;
}
span.smoothTextTrigger.smoothTextAppear{
 transform: translate3d(0,0,0) skewY(0);
}

/* ボタン共通設定 */
.btn06{
 /*矢印の基点とするためrelativeを指定*/
position: relative;
 /*ボタンの形状*/
text-decoration: none;
display: inline-block;
background:rgb(153, 153, 153);
color:#fff;
 padding: 10px 40px 10px 30px;
border-radius: 25px;
 text-align: center;
 outline: none;
 /*アニメーションの指定*/
 transition: ease .2s;
 font-size: 0.4rem;
}

.btn06:hover{
background:rgb(158, 158, 158);
}

/* 矢印が右に移動して現在地に戻る */
.btnarrow2::after{
 content: '';
 /*絶対配置で矢印の位置を決める*/
position: absolute;
 top:42%;
 right: 13px;
 /*矢印の形状*/
 width: 5px;
 height: 5px;
 border-top: 2px solid #fff;
 border-right: 2px solid #fff;
 transform: rotate(45deg);
}

/*hoverした際のアニメーション*/
.btnarrow2:hover::after{
animation: arrow .5s;
}

@keyframes arrow {
50% {
 right: 10px;
}
100% {
 right: 13px;
}
}

/*--------------------
 クローバルナビ
--------------------*/
.navi {
 padding: 20px 20px;
 width: 100%;
 height: 60px;
 background-color: #fff;
 position: fixed;
 top: 0;
 left: 0;
 z-index: 10;
}

.navi ul {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
}

.navi li {
 padding: 0 30px;
 font-size: 0.9rem;
}

.navi-icon {
 display: flex;
 justify-content: flex-end;
 padding-right: 100px;
}

/*--------------------
 ローディング
--------------------*/
/* Loading背景画面設定　*/
#splash {
 /*fixedで全面に固定*/
position: fixed;
width: 100%;
height: 100%;
z-index: 9999;
text-align:center;
color:#fff;
}

/* Loading画像中央配置　*/
#splash_text {
position: absolute;
top: 50%;
left: 50%;
z-index: 999;
transform: translate(-50%, -50%);
color: #fff;
width: 100%;
}

/*割れる画面のアニメーション*/
.loader_cover {
 width: 100%;
 height: 50%;
 background-color: #333;
 transition: all .2s cubic-bezier(.04, .435, .315, .9);
 transform: scaleY(1);
}

/*上の画面*/
.loader_cover-up {
 transform-origin: center top;
}

/*下の画面*/
.loader_cover-down {
 position: absolute;
 bottom: 0;
 transform-origin: center bottom;
}
/*クラス名がついたらY軸方向に0*/
.coveranime {
 transform: scaleY(0);
}

/*--------------------
 ヘッダー
--------------------*/
#header {
 width: 100%;
 height: 97vh;
 padding-bottom: 40px;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
}

.logo {
 margin: auto;
}

#header .logo-title {
 font-size: 2rem;
 font-weight: bold;
}

#header .logo-subtitle {
 font-size: 1rem;
 color: gray;
}

/*=== 9-1-3 マウスが動いてスクロールを促す ====*/
/*スクロールダウン全体の場所*/
.scrolldown3{
 /*描画位置※位置は適宜調整してください*/
position:absolute;
bottom:10px;
right:50%;
 /*マウスの動き1.6秒かけて動く永遠にループ*/
animation:mousemove 1.6s ease-in-out infinite;
}

/*下からの距離が変化して上から下に動く*/
@keyframes mousemove{
   0%{bottom:10px;}
   50%{bottom:5px;}
  100%{bottom:10px;}
}

/*Scrollテキストの描写*/
.scrolldown3 span{
 /*描画位置*/
position: absolute;
left:-15px;
bottom:45px;
 /*テキストの形状*/
color: #333;
font-size: 0.7rem;
letter-spacing: 0.05em;
}

/*マウスの中の線描写 */
.scrolldown3 span::after{
content: "";
 /*描画位置*/
position: absolute;
top:10px;
left:17px;
 /*線の形状*/
width: 1px;
height: 15px;
background: #333;
 /*線の動き1.4秒かけて動く。永遠にループ*/
animation: mousepathmove 1.4s linear infinite;
opacity:0;
}

/*上からの距離・不透明度・高さが変化して上から下に流れる*/
@keyframes mousepathmove{
0%{
height:0;
top:10px;
opacity: 0;
}
50%{
height:15px;
opacity: 1;
}
100%{
height:0;
top:30px;
opacity: 0;
}
}

/*マウスの描写 */
.scrolldown3:before {
 content: "";
 /*描画位置*/
 position: absolute;
 bottom:0;
 left:-10px;
 /*マウスの形状*/
width:25px;
height:37px;
border-radius: 10px;
border:1px solid #333;
}

/*マウスの中の丸の描写*/
.scrolldown3:after{
content:"";
 /*描画位置*/
position: absolute;
bottom:26px;
left:0;
 /*丸の形状*/
width:5px;
height: 5px;
border-radius: 50%;
border:1px solid #333;
}

/*--------------------
 SERVICE
--------------------*/
#service {
 width: 100%;
 padding-top: 120px;
 padding-bottom: 40px;
}

#service .content {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
}

#service .content-item {
 width: 33%;
}

#service .content-item .service-title {
 font-size: 1.5rem;
}

#service .service-subtitle {
 font-size: 0.8rem;
 margin-bottom: 40px;
}

#service .content-item img {
 width: 100px;
 height: 80px;
 margin-bottom: 20px;
}

#service .content-text {
 font-size: 0.85rem;
 padding: 20px 30px 0 30px;
 line-height: 1.5;
 letter-spacing: 2px;
 text-align: left;
}

/*--------------------
 MESSAGE
--------------------*/
#message {
 padding-top: 120px;
 padding-bottom: 40px;
}

.message-text {
 text-align: left;
 font-size: 1.1rem;
 line-height: 2;
}

/*--------------------
 WORKS
--------------------*/
#works {
 width: 100%;
 padding-top: 120px;
 padding-bottom: 40px;
}

#works .works-list ul {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
}

#works .works-list li {
 width: 30%;
 margin-bottom: 60px;
}

/*--------------------
 PLAN
--------------------*/
#plan {
 width: 100%;
 padding-top: 120px;
 padding-bottom: 40px;
}

.plan-wrapper {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
}

.plan1 {
 width: 31%;
 padding: 20px;
 background-color:whitesmoke;
 border-radius: 15px;
}

.plan1 h3 {
 font-size: 1.1rem;
 padding: 10px 0;
 border-bottom: 1px solid rgb(197, 197, 197);
 display: inline-block;
}

.plan1 span {
 font-size: 0.8rem;
 padding: 20px 0;
 display: block;
}

.plan1 p {
 font-size: 0.8rem;
 letter-spacing: 2.5px;
 text-align: left;
 display: block;
 margin-top: 20px;
 margin-bottom: 50px;
}

/*--------------------
 ABOUT
--------------------*/
#about {
 width: 100%;
 padding-top: 120px;
 padding-bottom: 40px;
}

#about .profile-wrapper {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
}

#about img {
 width: 150px;
 height: 150px;
 object-fit: cover;
 border-radius: 50%;
 object-position: -35px 0px;
 margin-right: 40px;
 margin: auto;
}

.about-list {
 display: flex;
 flex-wrap: wrap;
 text-align: left;
 width: 60%;
}

.about-list dt {
 width: 30%;
 padding-left: 40px;
 font-size: 0.9rem;
}

.about-list dd {
 width: 70%;
 font-size: 0.9rem;
}

/*--------------------
 CONTACT
--------------------*/
#contact {
 width: 100%;
 padding-top: 120px;
 padding-bottom: 40px;
}

#contact .contact-icon {
 padding: 20px;
}

#contact .contact-icon img {
 margin-right: 30px;
}

/*リンクを右下に固定*/
#page-top {
	position: fixed;
	right: 20px;
	bottom: 40px;
	z-index: 2;
 /*はじめは非表示*/
	opacity: 0;
	transform: translateY(150px);
}

/*　上に上がる動き　*/
#page-top.UpMove{
	animation: UpAnime 0.5s forwards;
}

@keyframes UpAnime{
  from {
    opacity: 0;
	transform: translateY(150px);
  }
  to {
    opacity: 1;
	transform: translateY(0);
  }
}

/*　下に下がる動き　*/
#page-top.DownMove{
	animation: DownAnime 0.5s forwards;
}

@keyframes DownAnime{
  from {
  	opacity: 1;
	transform: translateY(0);
  }
  to {
  	opacity: 1;
	transform: translateY(150px);
  }
}

/*画像の切り替えと動き*/
#page-top a {
    /*aタグの形状*/
	display: block;
	width: 50px;
	height: 100px;
	color: #333;
	text-align: center;
	text-transform: uppercase; 
	text-decoration: none;
	font-size:0.6rem;
    /*背景画像の指定*/
	background: url("../img/top_icon.png") no-repeat center;
	background-size: contain;
}

#page-top .floatAnime a{
	width: 100px;
	height: 130px;
    /*背景画像の指定*/
	background: url("../img/rocket2.png") no-repeat center;
	background-size: contain;
    /*アニメーションの指定*/
	animation: floatAnime 2s linear infinite;
	opacity: 0;
}

@keyframes floatAnime {
  0% { transform: translateX(0); opacity: 0; }
  25% { transform: translateX(-6px);opacity: 1; }
  50% { transform: translateX(0) }
  100% { transform: translateX(6px);opacity: 1; }
}

/*Page Topと書かれたテキストの位置*/
#page-top span{
 position: absolute;
 bottom: -7px;
 right: 12px;
	color: #666;
}
/*検証のためのCSS*/
/* section{
padding: 500px 0;
} */

/*--------------------
 FOOTER
--------------------*/
footer p {
 text-align: center;
 font-size: 0.6rem;
 padding: 10px;
 color: #fff;
 background-color: rgb(87, 87, 87);
}

/*--------------------
 OTEGARUPLAN
--------------------*/
#otegaruplan {
 width: 100%;
 padding-top: 120px;
 padding-bottom: 40px;
}

#otegaruplan .content-text {
 text-align: left;
}

.otegaru-menulist {
 display: inline-block;
 text-align: left;
 margin: 0 auto;
 padding: 60px 0;
}

.otegaru-menulist li {
 margin-bottom: 15px;
 font-size: 1.1rem;
}

.planmenutitle {
 padding: 120px 0 80px 0;
}

.seisakuplan {
 width: 80%;
 margin: 0 auto;
 border-collapse: collapse;
}

.seisakuplan td {
 padding: 10px 0;
 border-bottom: 1px solid rgb(199, 199, 199);
}

.seisakuplan-menutitle {
 text-align: left;
}

.kanriplan {
 width: 80%;
 margin: 0 auto;
 border-collapse: collapse;
}

.kanriplan th {
 padding: 10px 0;
 border-bottom: 1px solid rgb(199, 199, 199);
}

.kanriplan td {
 padding: 10px 0;
 margin: 0 auto;
 border-bottom: 1px solid rgb(199, 199, 199);
}

.kanriplan-menutitle {
 text-align: left;
}
















/*--------------------
 レスポンシブ
--------------------*/
@media screen and (max-width: 767px) {
 .wrapper {
  padding: 0 30px;
 }

 /* ボタン共通設定 */
.btn06{
 padding: 10px 40px 10px 30px;
 font-size: 0.8rem;
}

/*========= ナビゲーションのためのCSS ===============*/
#g-nav{
 /*position:fixed;にし、z-indexの数値を小さくして最背面へ*/
 position:fixed;
z-index: -1;
opacity: 0;/*はじめは透過0*/
 /*ナビの位置と形状*/
top:0;
width:100%;
 height: 100vh;/*ナビの高さ*/
background:#999;
 /*動き*/
transition: all 0.3s;
}

/*アクティブクラスがついたら透過なしにして最前面へ*/
#g-nav.panelactive{
opacity: 1;
z-index:999;
}

/*ナビゲーションの縦スクロール*/
#g-nav.panelactive #g-nav-list{
 /*ナビの数が増えた場合縦スクロール*/
 position: fixed;
 z-index: 999; 
 width: 100%;
 height: 100vh;/*表示する高さ*/
 overflow: auto;
 -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
#g-nav ul {
 display: none;
 /*ナビゲーション天地中央揃え*/
 position: absolute;
 z-index: 999;
 top:50%;
 left:50%;
 transform: translate(-50%,-50%);
}

#g-nav.panelactive ul {
 display: block;
}

/*リストのレイアウト設定*/
#g-nav li{
list-style: none;
 text-align: center; 
}

#g-nav li a{
color: #fff;
text-decoration: none;
padding:10px;
display: block;
text-transform: uppercase;
letter-spacing: 0.1em;
font-weight: bold;
}

/*========= ボタンのためのCSS ===============*/
.openbtn{
position:fixed;
 z-index: 9999;/*ボタンを最前面に*/
top:10px;
right: 10px;
cursor: pointer;
 width: 50px;
 height:50px;
}

/*×に変化*/	
.openbtn span{
 display: inline-block;
 transition: all .4s;
 position: absolute;
 left: 14px;
 height: 3px;
 border-radius: 2px;
background-color: #666;
width: 45%;
}

.openbtn span:nth-of-type(1) {
top:15px;	
}

.openbtn span:nth-of-type(2) {
top:23px;
}

.openbtn span:nth-of-type(3) {
top:31px;
}

.openbtn.active span:nth-of-type(1) {
 top: 18px;
 left: 18px;
 transform: translateY(6px) rotate(-45deg);
 width: 30%;
}

.openbtn.active span:nth-of-type(2) {
opacity: 0;
}

.openbtn.active span:nth-of-type(3){
 top: 30px;
 left: 18px;
 transform: translateY(-6px) rotate(45deg);
 width: 30%;
}

 .navi li {
  padding: 0 10px;
  font-size: 0.7rem;
 }

 .navi-icon {
  padding-right: 10px;
 }

 .navi-icon img {
  width: 15px;
  height: 15px;
  margin: 0 0 0 10px;
 }

 #header {
  padding-top: 0px;
 }

 #header .logo-title {
  font-size: 1.5rem;
 }

 #service .content {
  flex-flow: column;
 }

 #service .content-item {
  width: 100%;
  margin-bottom: 60px;
 }

 #service .service-subtitle {
  margin-bottom: 30px;
 }

 #service .content-item img {
  margin-bottom: 5px;
 }

 /*--------------------
 MESSAGE
--------------------*/
#message {
 padding: 0 10px;
}
.message-text {
 font-size: 0.9rem;
 line-height: 2;
 text-align: left;
}

 #works .works-list li {
  width: 45%;
 }

 #about .profile-wrapper {
  flex-flow: column;
  text-align: center;
 }

 #about img {
  margin: 0 auto;
  margin-bottom: 60px;
 }

 .about-list {
  width: 100%;
  font-size: 0.8rem;
 }

 .about-list dt {
  padding-left: 0;
  padding-top: 20px;
  font-size: 0.8rem;
 }

 .about-list dd {
  padding-left: 0;
  padding-top: 20px;
  font-size: 0.8rem;
 }

 .plan-wrapper {
  flex-direction: column;
 }

 .plan1 {
  width: 100%;
  margin-bottom: 40px;
 }

 .contact-text {
  font-size: 0.8rem;
 }




 .seisakuplan {
  width: 100%;
 }
 
 .seisakuplan td {
  font-size: 0.8rem;
 }
 
 .seisakuplan-menutitle {
  font-size: 0.8rem;
 }



 .kanriplan {
  width: 100%;
 }

 .kanriplan th {
  font-size: 0.85rem;
 }
 
 .kanriplan td {
  font-size: 0.8rem;
 }
 
 .kanriplan-menutitle {
  font-size: 0.8rem;
 }



}